<header>
  <div class='navigation-header'>
    <nav class='navigation-header-container'>
      <ul>
        <li class='navigation-header-item'><%= link_to "Home", root_url %></li>
        <li class='navigation-header-item'><%= link_to "Gameplay", 'gameplay' %></li>
        <%= image_tag("static/palm_tree.png", class: 'navigation-header-icon') %>
        <li class='navigation-header-item'><%= link_to "Characters", 'characters' %></li>
        <li class='navigation-header-item'><%= link_to "Team", 'team' %></li>
      </ul>
    </nav>
  </div>
</header>

