<% session[:foo] = "bar" if session.id.nil? %>

<div class='pattern-wrapper'>
  <div class='town-container'>

    <%= link_to '/app', class: 'play-game-button' do %>
        <div class='play-game-button-container'>PLAY</div>
    <% end %>

    <%= video_tag('town_orig_720p.mp4', poster: 'game/town.jpg', type:'video/mp4;codecs="avc1.42E01E, mp4a.40.2"', controls: false, autobuffer: true, autoplay: true, loop: true, muted: true, class: 'town-video') %>
  </div>

  <div class='handbook-button' data-turbolinks="false">
    <%= link_to 'i', '/team' %>
  </div>

  <div class="audio-control">
    <%= image_tag('icons/volume-up.svg', class: 'volume-icon volume-icon-up') %>
    <%= image_tag('icons/volume-off.svg', class: 'volume-icon volume-icon-off hide') %>
  </div>

  <%# audio_tag("honk.wav", id: 'play_game', controls: false) %>
  <%= audio_tag("soundtrack.ogg", id: 'soundtrack', controls: false, autoplay: true, loop: true) %>

  <%# init_playbutton %>
</div>
