<% session[:foo] = "bar" if session.id.nil? %>

<div class='pattern-wrapper'>
  <div class='town-container'>

    <%= link_to '/app', class: 'play-game-button' do %>
        <div class='play-game-button-container'>PLAY</div>
    <% end %>

    <%= video_tag('town.mp4', poster: "game/town.webp", controls: false, autobuffer: true, autoplay: true, loop: true, muted: true, class: 'town-video') %>
  </div>

  <div class='handbook-button' data-turbolinks="false">
    <%= link_to 'i', '/team' %>
  </div>

  <%= audio_tag("honk.wav", id: 'play_game', controls: false) %>
  <%= audio_tag("soundtrack.wav", id: 'soundtrack', controls: false, autoplay: true, loop: true) %>

  <%= init_playbutton %>
</div>
